<!DOCTYPE html>
<html>
  <head>
    <title>App Permissions Request</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href='/static/css/index.css'>
    <script src='http://code.jquery.com/jquery-1.4.2.js'></script>
  </head>
  <body>
    <section class='container'>
      <div class='center content'>
        <div class='spacer'></div>
        <img src='/static/css/image.jpg' />
        <div class='spacer'></div>
        <div class='center'><h1>Grant App Access To Cisco Webex Teams</h1></div>
        <div class='spacer-small'></div>
        <div class='center'><a href='{{auth_url}}'><div class='button' style='width:512px;'>GRANT</div></a></div>
      </body>
    </html>
    
    
  </body>
</html>


